In [16]:
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

In [18]:
# Load .env enviroment variables
load_dotenv()

True

In [19]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("APCA_API_KEY")
alpaca_secret_key = os.getenv("APCA_API_SECRET")


# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [25]:
# Set start and end dates of five years back from today.
# Sample results may vary from the solution based on the time frame chosen
start_date = pd.Timestamp('2008-08-07', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2020-08-07', tz='America/New_York').isoformat()


tickers = ["XLE", "TAN", "INDEXSP"]


timeframe = "1D"

df_stock_data = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_date,
    end = end_date
).df
  
# Display sample data
df_stock_data

                          INDEXSP                            TAN            \
                             open high  low close volume    open      high
time
2008-08-07 04:00:00+00:00     NaN  NaN  NaN   NaN    NaN  230.00  232.1000
2008-08-08 04:00:00+00:00     NaN  NaN  NaN   NaN    NaN  228.90  228.9000
2008-08-11 04:00:00+00:00     NaN  NaN  NaN   NaN    NaN  219.60  228.4000
2008-08-12 04:00:00+00:00     NaN  NaN  NaN   NaN    NaN  225.60  231.5000
2008-08-13 04:00:00+00:00     NaN  NaN  NaN   NaN    NaN  229.30  231.8000
...                           ...  ...  ...   ...    ...     ...       ...
2020-08-03 04:00:00+00:00     NaN  NaN  NaN   NaN    NaN   45.12   46.1800
2020-08-04 04:00:00+00:00     NaN  NaN  NaN   NaN    NaN   47.24   49.1899
2020-08-05 04:00:00+00:00     NaN  NaN  NaN   NaN    NaN   49.17   50.8600
2020-08-06 04:00:00+00:00     NaN  NaN  NaN   NaN    NaN   50.73   51.2290
2020-08-07 04:00:00+00:00     NaN  NaN  NaN   NaN    NaN   50.31   52.0628

                                                          XLE          \
                                low   close     volume   open    high
time
2008-08-07 04:00:00+00:00  228.5000  229.10     6624.0  73.76  73.970
2008-08-08 04:00:00+00:00  225.0000  225.60     6446.0  71.30  71.690
2008-08-11 04:00:00+00:00  219.6000  222.00    14975.0  71.69  72.010
2008-08-12 04:00:00+00:00  225.6000  228.10    14852.0  71.59  71.840
2008-08-13 04:00:00+00:00  224.2000  230.30     7030.0  70.77  73.510
...                             ...     ...        ...    ...     ...
2020-08-03 04:00:00+00:00   44.7120   45.96  2033314.0  36.02  36.360
2020-08-04 04:00:00+00:00   47.1000   49.08  1952026.0  36.04  37.120
2020-08-05 04:00:00+00:00   48.6900   50.72  1639638.0  37.77  37.900
2020-08-06 04:00:00+00:00   49.6200   50.16  1423544.0  37.22  37.555
2020-08-07 04:00:00+00:00   50.2901   51.16  1571908.0  36.84  37.270


                               low  close    volume
time
2008-08-07 04:00:00+00:00  71.8600  71.89  28910888
2008-08-08 04:00:00+00:00  69.7200  71.28  33631235
2008-08-11 04:00:00+00:00  69.6600  70.98  31392190
2008-08-12 04:00:00+00:00  70.6200  70.74  30657524
2008-08-13 04:00:00+00:00  70.7700  73.25  42832058
...                            ...    ...       ...
2020-08-03 04:00:00+00:00  35.7200  36.16  41232566
2020-08-04 04:00:00+00:00  36.0058  37.04  44438406
2020-08-05 04:00:00+00:00  37.0850  37.43  55747387
2020-08-06 04:00:00+00:00  36.9900  37.13  37630914
2020-08-07 04:00:00+00:00  36.3700  37.18  31673676

[3022 rows x 15 columns]