In [19]:
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

In [20]:
# Set file path for Renewable Energy Production
production_data = Path("../data/Total_Energy_Production.csv")

# Read CSV as a DataFrame
renewable_production_data = pd.read_csv(production_data, index_col="Year")

renewable_production = renewable_production_data.loc[:, ['Hydropower quads', 'Biomass quads', 'Other Renewable Energy quads']]
renewable_production.head(5)

      Hydropower quads  Biomass quads  Other Renewable Energy quads
Year
2050          2.262525       5.535339                     12.642707
2049          2.273778       5.506855                     12.415702
2048          2.279950       5.475977                     12.214866
2047          2.281751       5.447560                     12.039868
2046          2.273704       5.414016                     11.799397

In [44]:
renewable_production_data.head()

,Crude Oil and Lease Condensate quads,Natural Gas Plant Liquids quads,Dry Natural Gas quads,Coal quads,Nuclear quads,Hydropower quads,Biomass quads,Other Renewable Energy quads,Other quads,Total quads
Year,,,,,,,,,,
2050,24.796230,8.190884,46.616814,10.675206,6.716295,2.262525,5.535339,12.642707,0.771613,118.207619
2049,25.881308,8.390840,46.380791,10.649560,6.711448,2.273778,5.506855,12.415702,0.771784,118.982063
2048,26.494122,8.449029,46.018311,10.674273,6.708094,2.279950,5.475977,12.214866,0.763026,119.077637
2047,27.029858,8.443357,45.565365,10.683536,6.705318,2.281751,5.447560,12.039868,0.752588,118.949188
2046,27.620865,8.467919,45.196522,10.700363,6.700862,2.273704,5.414016,11.799397,0.732407,118.906059

In [45]:
# Non-renewable Energy Production
nonrenewable_production = renewable_production_data.loc[:, ['Crude Oil and Lease Condensate quads', 'Natural Gas Plant Liquids quads', 'Dry Natural Gas quads', 'Coal quads','Nuclear quads', 'Other quads']]
nonrenewable_production.head(5)

,Crude Oil and Lease Condensate quads,Natural Gas Plant Liquids quads,Dry Natural Gas quads,Coal quads,Nuclear quads,Other quads
Year,,,,,,
2050,24.796230,8.190884,46.616814,10.675206,6.716295,0.771613
2049,25.881308,8.390840,46.380791,10.649560,6.711448,0.771784
2048,26.494122,8.449029,46.018311,10.674273,6.708094,0.763026
2047,27.029858,8.443357,45.565365,10.683536,6.705318,0.752588
2046,27.620865,8.467919,45.196522,10.700363,6.700862,0.732407

In [21]:
# Set file path for Renewable Energy Consumption
consumption_data = Path("../data/Total_Energy_Use.csv")

# Read CSV as a DataFrame
renewable_consumption_data = pd.read_csv(consumption_data, index_col="Year")

renewable_consumption = renewable_consumption_data.loc[:, ['Hydropower quads', 'Biomass quads', 'Other Renewable Energy quads']]
renewable_consumption.head(5)

      Hydropower quads  Biomass quads  Other Renewable Energy quads
Year
2050          2.262525       3.593170                     12.642707
2049          2.273778       3.570926                     12.415702
2048          2.279950       3.546339                     12.214866
2047          2.281751       3.524088                     12.039868
2046          2.273704       3.496759                     11.799397

In [46]:
# Non-renewable Energy Consumption
nonrenewable_consumption = renewable_production_data.loc[:, ['Crude Oil and Lease Condensate quads', 'Natural Gas Plant Liquids quads', 'Dry Natural Gas quads', 'Coal quads', 'Nuclear quads','Other quads']]
nonrenewable_consumption.head(5)

,Crude Oil and Lease Condensate quads,Natural Gas Plant Liquids quads,Dry Natural Gas quads,Coal quads,Nuclear quads,Other quads
Year,,,,,,
2050,24.796230,8.190884,46.616814,10.675206,6.716295,0.771613
2049,25.881308,8.390840,46.380791,10.649560,6.711448,0.771784
2048,26.494122,8.449029,46.018311,10.674273,6.708094,0.763026
2047,27.029858,8.443357,45.565365,10.683536,6.705318,0.752588
2046,27.620865,8.467919,45.196522,10.700363,6.700862,0.732407

In [47]:
# Set file path for Total Energy Nominal Prices 
nominal_price_data = Path("../data/Total_Energy_Nominal_Prices.csv")

# Read CSV as a DataFrame
energy_price = pd.read_csv(nominal_price_data, index_col="Year")
energy_price.head(10)

,Brent (nom $/b) nom $/b,West Texas Intermediate (nom $/b) nom $/b,Gas Price at Henry Hub (nom $/MMBtu) nom $/MMBtu,Coal at Minemouth (nom $/ton) nom $/ton,Coal Minemouth (nom $/MMBtu) nom $/MMBtu,Delivered Coal (nom $/MMBtu) nom $/MMBtu,Electricity (nom cents/kWh) nom cents/kWh
Year,,,,,,,
2050,214.277344,205.581665,7.539873,77.163956,3.645000,4.360555,20.212610
2049,206.792648,198.653381,7.266372,75.155357,3.549152,4.254279,19.787699
2048,198.939514,190.964218,7.051677,73.135712,3.452890,4.149487,19.395720
2047,191.102951,182.914185,6.823333,71.197189,3.359361,4.045896,18.978594
2046,183.427155,174.213318,6.579929,69.313484,3.268590,3.942903,18.526518
2045,176.887756,168.907990,6.364482,67.846008,3.191967,3.854206,18.149460
2044,170.231277,161.561188,6.179199,65.694534,3.096194,3.755188,17.768002
2043,163.915482,155.669418,6.015227,64.050179,3.017857,3.665249,17.370457
2042,158.226028,150.320374,5.851842,62.385551,2.940814,3.575610,17.034168
2041,151.260971,143.188431,5.683333,60.710873,2.863649,3.486681,16.694515

In [48]:
# Combine Total Energy Production and Nominal price data
renewable_production_price_df = pd.concat([renewable_production, energy_price], axis="columns", join="inner")
renewable_production_price_df.head(10)

,Hydropower quads,Biomass quads,Other Renewable Energy quads,Brent (nom $/b) nom $/b,West Texas Intermediate (nom $/b) nom $/b,Gas Price at Henry Hub (nom $/MMBtu) nom $/MMBtu,Coal at Minemouth (nom $/ton) nom $/ton,Coal Minemouth (nom $/MMBtu) nom $/MMBtu,Delivered Coal (nom $/MMBtu) nom $/MMBtu,Electricity (nom cents/kWh) nom cents/kWh
Year,,,,,,,,,,
2050,2.262525,5.535339,12.642707,214.277344,205.581665,7.539873,77.163956,3.645000,4.360555,20.212610
2049,2.273778,5.506855,12.415702,206.792648,198.653381,7.266372,75.155357,3.549152,4.254279,19.787699
2048,2.279950,5.475977,12.214866,198.939514,190.964218,7.051677,73.135712,3.452890,4.149487,19.395720
2047,2.281751,5.447560,12.039868,191.102951,182.914185,6.823333,71.197189,3.359361,4.045896,18.978594
2046,2.273704,5.414016,11.799397,183.427155,174.213318,6.579929,69.313484,3.268590,3.942903,18.526518
2045,2.272747,5.388065,11.526014,176.887756,168.907990,6.364482,67.846008,3.191967,3.854206,18.149460
2044,2.281344,5.360538,11.121703,170.231277,161.561188,6.179199,65.694534,3.096194,3.755188,17.768002
2043,2.284775,5.335333,10.760035,163.915482,155.669418,6.015227,64.050179,3.017857,3.665249,17.370457
2042,2.284055,5.310064,10.417507,158.226028,150.320374,5.851842,62.385551,2.940814,3.575610,17.034168
2041,2.298737,5.290954,10.118544,151.260971,143.188431,5.683333,60.710873,2.863649,3.486681,16.694515

In [49]:
# Combine Total Energy Consumption and Nominal price data
renewable_consumption_price_df = pd.concat([renewable_consumption, energy_price], axis="columns", join="inner")
renewable_consumption_price_df.head(10)

,Hydropower quads,Biomass quads,Other Renewable Energy quads,Brent (nom $/b) nom $/b,West Texas Intermediate (nom $/b) nom $/b,Gas Price at Henry Hub (nom $/MMBtu) nom $/MMBtu,Coal at Minemouth (nom $/ton) nom $/ton,Coal Minemouth (nom $/MMBtu) nom $/MMBtu,Delivered Coal (nom $/MMBtu) nom $/MMBtu,Electricity (nom cents/kWh) nom cents/kWh
Year,,,,,,,,,,
2050,2.262525,3.593170,12.642707,214.277344,205.581665,7.539873,77.163956,3.645000,4.360555,20.212610
2049,2.273778,3.570926,12.415702,206.792648,198.653381,7.266372,75.155357,3.549152,4.254279,19.787699
2048,2.279950,3.546339,12.214866,198.939514,190.964218,7.051677,73.135712,3.452890,4.149487,19.395720
2047,2.281751,3.524088,12.039868,191.102951,182.914185,6.823333,71.197189,3.359361,4.045896,18.978594
2046,2.273704,3.496759,11.799397,183.427155,174.213318,6.579929,69.313484,3.268590,3.942903,18.526518
2045,2.272747,3.476807,11.526014,176.887756,168.907990,6.364482,67.846008,3.191967,3.854206,18.149460
2044,2.281344,3.456382,11.121703,170.231277,161.561188,6.179199,65.694534,3.096194,3.755188,17.768002
2043,2.284775,3.438693,10.760035,163.915482,155.669418,6.015227,64.050179,3.017857,3.665249,17.370457
2042,2.284055,3.419021,10.417507,158.226028,150.320374,5.851842,62.385551,2.940814,3.575610,17.034168
2041,2.298737,3.405491,10.118544,151.260971,143.188431,5.683333,60.710873,2.863649,3.486681,16.694515

In [50]:
# combine the Renewable Energy Consumption and Production data
renewable_consumption_production_df = pd.concat([renewable_consumption, renewable_production], axis="columns", join="inner")
renewable_consumption_production_df.head(10)

,Hydropower quads,Biomass quads,Other Renewable Energy quads,Hydropower quads,Biomass quads,Other Renewable Energy quads
Year,,,,,,
2050,2.262525,3.593170,12.642707,2.262525,5.535339,12.642707
2049,2.273778,3.570926,12.415702,2.273778,5.506855,12.415702
2048,2.279950,3.546339,12.214866,2.279950,5.475977,12.214866
2047,2.281751,3.524088,12.039868,2.281751,5.447560,12.039868
2046,2.273704,3.496759,11.799397,2.273704,5.414016,11.799397
2045,2.272747,3.476807,11.526014,2.272747,5.388065,11.526014
2044,2.281344,3.456382,11.121703,2.281344,5.360538,11.121703
2043,2.284775,3.438693,10.760035,2.284775,5.335333,10.760035
2042,2.284055,3.419021,10.417507,2.284055,5.310064,10.417507
2041,2.298737,3.405491,10.118544,2.298737,5.290954,10.118544

In [52]:
# Calculate the Standard Deviation for Renewable Consumption 
renewable_consumption_returns = renewable_consumption.pct_change().dropna()

renewable_consumption_std = renewable_consumption_returns.std()
renewable_consumption_std.head()

Hydropower quads                0.006296
Biomass quads                   0.007919
Other Renewable Energy quads    0.033460
dtype: float64

In [56]:
# Calculate the Standard Deviation for Non-renewable Consumption 
nonrenewable_consumption_returns = nonrenewable_consumption.pct_change().dropna()

nonrenewable_consumption_std = nonrenewable_consumption_returns.std()
nonrenewable_consumption_std.head()

Crude Oil and Lease Condensate quads    0.019737
Natural Gas Plant Liquids quads         0.024175
Dry Natural Gas quads                   0.007530
Coal quads                              0.023176
Nuclear quads                           0.020068
dtype: float64

In [27]:
# Calculate the Standard Deviation for Renewable Production
renewable_production_returns = renewable_production.pct_change().dropna()

renewable_production_std = renewable_production_returns.std()
renewable_production_std.head()

Hydropower quads                0.006296
Biomass quads                   0.005078
Other Renewable Energy quads    0.033460
dtype: float64

In [57]:
# Calculate the Standard Deviation for Non-renewable Production
nonrenewable_production_returns = nonrenewable_production.pct_change().dropna()

nonrenewable_production_std = nonrenewable_production_returns.std()
nonrenewable_production_std.head()

Crude Oil and Lease Condensate quads    0.019737
Natural Gas Plant Liquids quads         0.024175
Dry Natural Gas quads                   0.007530
Coal quads                              0.023176
Nuclear quads                           0.020068
dtype: float64

In [29]:
# Calculate the Sharpe Ratio for Renewable Consumption
renewable_consum_sharpe_ratio = (renewable_consumption_returns.mean()* 252) / (renewable_consumption_std * np.sqrt(252))
renewable_consum_sharpe_ratio.head()

Hydropower quads                12.231384
Biomass quads                   -6.910614
Other Renewable Energy quads   -17.059705
dtype: float64

In [31]:
# Calculate the Sharpe Ratio for Renewable Production
renewable_prod_sharpe_ratio = (renewable_production_returns.mean()* 252) / (renewable_production_std * np.sqrt(252))
renewable_prod_sharpe_ratio.head()

Hydropower quads                12.231384
Biomass quads                  -13.812871
Other Renewable Energy quads   -17.059705
dtype: float64

In [32]:
# Average the Sharpe Ratios
consumption_sharpe_avg = renewable_consum_sharpe_ratio.mean()
production_sharpe_avg = renewable_prod_sharpe_ratio.mean()

print("Renewable Energy's consumption sharpe ratio average is:", consumption_sharpe_avg)
print("Renewable Energy's production sharpe ratio average is:", production_sharpe_avg)

Renewable Energy's consumption sharpe ratio average is: -3.912978279429131
Renewable Energy's production sharpe ratio average is: -6.213730665608544

In [33]:
# Rolling Average for Renewable Consumption

In [ ]:
# Rolling Average for Renewable Production